<!DOCTYPE html>
<html lang="en">

  <head>
	<title>{{.PageTitle}}</title>

	<meta charset="utf-8" />

	<link rel="alternate" type="application/atom+xml" title="RSS" href="{{.FileId}}.xml" />
	<link rel="author" type="text/html" title="About" href="/about.html" />
	<link rel="stylesheet" href="/static/site.css" type="text/css" />

	<!-- http://softwaremaniacs.org/soft/highlight/en/description/ -->
	<!-- <link rel="stylesheet" href="/static/highlight/styles/magula.css"> -->
	<!-- <script src="/static/highlight/highlight.pack.js"></script> -->
	<!-- <script>hljs.initHighlightingOnLoad();</script> -->
  </head>

  <body>

	<div class="site" itemscope itemtype="http://schema.org/WebPage">

	  <div class="header meta">
		<a href="/index.html" itemprop="author">Thomas Kappler</a>
        &nbsp;&raquo;
		<a href="/index.html" class="nav">Home</a>
		<a href="/about.html" class="nav">About</a>

		<div class="header_categories">
		  {{range .FrequentCategories}}
		  <a href="/categories/{{.}}.html">{{.}}</a>
		  {{end}}
		</div>
	  </div>

	  {{template "content" .}}
	  
	</div>
  </body>
</html>
